:root {
    --primary-color: #6F4E37;
    --tertiary-color: #faecde;
    --secondary-color: #c99663;
    --primary-font-family: "Red Hat Display", sans-serif;
    --secondary-font-family: "Lobster", sans-serif;
}

body {
    font-family: var(--primary-font-family);
    background-color: var(--tertiary-color);
}

.header {
    padding-top: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #faecde93;
    padding-bottom: 0.5rem;
    backdrop-filter: blur(9px);
    z-index: 1000;
}

.logo__text {
    display: flex;
    line-height: 3rem;
    gap: 0.5rem;
}


.logo {
    height: 3rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--primary-color), #422f21);

}

.header__title a {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
    color: #4b392d;
}

.burger {
    display: none;
    color: var(--tertiary-color);
    font-size: 2.5rem;
    margin-right: 1rem;
    background-image: linear-gradient(to bottom, var(--primary-color), #422f21);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.nav {
    margin-right: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    background-image: linear-gradient(to bottom, var(--primary-color), #422f21);
    border-radius: 0.3rem;
}

h2 {
    font-size: 1.4rem;
}

.nav__list {
    display: flex;
    gap: 1.1rem;
    margin-top: 0.5rem;
}

.nav__list__item__link {
    color: var(--tertiary-color);
    text-decoration: none;
    padding-bottom: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav__list__item__link:hover {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    transform: 300ms ease-in-out;
}

.nav.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 4.6rem;
    right: 0;
    gap: 0;
}



.main {
    min-width: 320px;
    max-width: 1200px;
    display: block;
    margin: auto;
}

.content {
    padding: 1rem;
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about {
    align-self: center;
    flex-basis: 45%;
 
}

.about__text {
    padding: 1rem;
    font-size: 1.2rem;
}

.img__accueil {
    height: 20rem;
    width: 50%;
    background-image: url('../image/cofee.png');
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem
}

.about {
    display: flex;
    flex-direction: column;
}

.highlight{
    color:#a17a52;
    font-weight: 800;
}

.button {
    background-image: linear-gradient(to bottom, var(--secondary-color), #a17a52);
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: var(--tertiary-color);
    text-decoration: none;
    font-family: var(--secondary-font-family);
    font-size: 1.7rem;
    margin: 0.3rem;
    text-align: center;
    font-weight: 200;
    border: 1px solid #6b6b6b;
}

.button:hover {
    background-image: linear-gradient(to bottom, #c0874e, var(--secondary-color));
}

.news {
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid #c99663; */
    background-color: #eedbc8;
    box-shadow: -5px 5px 10px #00000050;
    height: 300px;
    width: 250px;
    border-radius: 0.5rem;
    padding: 1rem 0.6rem;
}

.card__title {
    color: var(--primary-color);
    font-size: 1.1rem;
    text-align: center;
}

.card__img {
    object-fit: cover;
    height: 9rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.card__text{
    height: 25%;
    padding: 0 1rem;
}

.card__price{
    text-align: center;
    font-weight: 800;
    margin-top: 0.5rem;
}

.card__button {
    font-size: 1.5rem;
}

.footer {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 0;
    height: 3rem;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    line-height: 3rem;
}

/*Page detail*/



.detail__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin: auto;
    margin-top: -3rem;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
    flex-basis: 100%;
    font-size: 1.3rem;
    display: flex;
    background-color: #eedbc8;
    box-shadow: -5px 5px 10px #00000050;
}

.detail__date {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 0.8rem;
    font-style: italic;
    color:#0000007e;
    margin: 1rem 0;
}

.detail__img {
    border-radius: 0.5rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
    align-self: flex-start;
}



.detail__text {
    margin-top: 1rem;
}

.detail__price {
    font-size: 1.8rem;
    font-weight: 1000;
    margin: 2rem 0;
    align-self: flex-end;
    color:var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.detail__dispo{
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 1000;
    border: 1px solid;
    margin: 1rem 0;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
}


.detail__dispo--true{
    color: rgb(66, 145, 66);
    border-color: rgb(66, 145, 66);
}


.detail__dispo--false{
    color: rgb(202, 87, 87);
    border-color: rgb(202, 87, 87);
}

.detail__button {
    font-size: 2rem;
    align-self: center;
    width: 200px;
}

.detail__title {
    margin: 1.3rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-color);
}

.detail__origine {
    margin: 0.7rem 0
}

/* Catalogue */

.catalogue__img {
    background-image: url('../image/catalogue.png');
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 0.3rem;
}

.catalogue__filter-button{
    display: flex;
    flex-direction: row;

}

.catalogue__title {
    color: var(--tertiary-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1px 1px 10px #000;
    line-height: 250px;
}

.catalogue__select {
    margin: auto;
}

.catalogue__link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart__table tr th td{
    vertical-align: middle;
    text-align: center;
}

.img-thumbnail{
    width: 50px;
    height: 50px;
    object-fit: cover;
}


option{
    font-size: 1rem;
    color:#000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Page Boutique */

.about__about{
    background-image: url('../image/vendors.png');
    height: 20rem;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    margin: auto;
}

.about__img{
    background-image: url('../image/boutique.png');
    height: 20rem;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    margin: auto;
}

/* Page 404 */

.image404 {
    margin: auto;
    width: 90vw;
    height: 77vh;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 20px black;
    text-align: center;
    background-image: url('../image/404.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.image404>h2 {
    font-size: 3rem;
    background-color: #0000007c;
}

.image404>h3 {
    font-size: 2rem;
    background-color: #0000007c;
}

.image404>p {
    font-size: 1.6rem;
    background-color: #0000007c;
}

/* Login Page */

.login-container {
    margin: auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 1rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 90%;
    padding: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #c0874e;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #c0874e;
}

.error-message{
    color: rgb(211, 77, 77);
    padding: 0.3rem;
    border: 1px solid rgb(211, 77, 77);
    border-radius: 0.3rem;
    margin: 0 auto 1rem auto;
}

.deconnect{
    color:rgb(211, 77, 77);
    font-weight: 800;
    margin:0 auto 1rem auto;
}

.header__cart{
    position: relative;
}

.cartBubble{
    position: absolute;
    font-size: 0.8rem;
    top: 10px;
    right: -10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: 1000;
    padding: 0.1rem 0.2rem;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;


}



.header__cart a{
    font-size: 2.5rem;
    color : var(--primary-color);
    line-height: 4rem;
}

table{
    width: 90vw;
}

td{
    border: 1px solid black;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 700px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
        width: 4rem;
        height: 4rem;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {

    .main {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .about {
        flex-basis: 100%;
    }


    .button {
        align-self: center;
    }

    .img__accueil {
        order: -1;
        width: 100%;
        height: 200px;
    }

    .nav{
        padding: 0 1rem;
        border: 1px solid #0000007a;
        box-shadow: -1px 1px 5px #63636380;
    }

    .nav__list {
        margin: 0;
        display: block;
    }

    .detail__dispo{
        font-size: 0.7rem;
    }

    .detail__date{
        font-size: 0.7rem;
    }

    .detail__img{
        height: 200px;
    }

    .detail__dispo--true{
        color:rgb(66, 145, 66);
    }

    .detail__dispo--false{
        color:rgb(202, 87, 87);
    }

    .nav__list__item{
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #00000071;
    }

    .nav__list__item:last-child{
        border-bottom: 0;
    }

    .catalogue__title {
        font-size: 1.8rem;
    }

}