:root {
    --primary-color: #6F4E37;
    --secondary-color: #c99663;
    --tertiary-color: #faecde;
    --primary-font-family: "Red Hat Display", sans-serif;
    --secondary-font-family: "Lobster", sans-serif;
    --primary-spacing: 0.5rem;
    --border-radius: 0.3rem;
}

body {
    font-family: var(--primary-font-family);
    background-color: var(--tertiary-color);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container .toggle-password {
    position: absolute;
    color: #a5a5a5;
    font-size: 1.5rem;
    bottom: 2rem;
    right: 0.75rem;
    cursor: pointer;
    user-select: none;
}

.password-container .toggle-password {
    position: absolute;
    color: #363636;
    font-size: 1.5rem;
    bottom: 2rem;
    right: 0.75rem;
    cursor: pointer;
    user-select: none;
}

.header {
    padding-top: var(--primary-spacing);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #faecde69;
    padding-bottom: var(--primary-spacing);
    backdrop-filter: blur(7px);
    z-index: 1000;
}

.nav__list__item__link:hover {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    transition: border-bottom 300ms ease-in-out;
}

.button:hover {
    background-image: linear-gradient(to bottom, #c0874e, var(--secondary-color));
    transform: scale(1.05);
}

@media only screen and (max-width: 700px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
}

.logo__text {
    display: flex;
    line-height: 3rem;
    gap: var(--primary-spacing);
    flex-grow: 1;
}


.logo {
    height: 3rem;
    margin-left: var(--primary-spacing);
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--primary-color), #422f21);

}

.header__title a {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;
    color: #4b392d;
}

.burger {
    display: none;
    color: var(--tertiary-color);
    font-size: 2.5rem;
    margin-right: 1rem;
    background-image: linear-gradient(to bottom, var(--primary-color), #422f21);
    padding: var(--primary-spacing) calc(var(--primary-spacing)*2);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.nav {
    margin-right: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    background-image: linear-gradient(to bottom, var(--primary-color), #422f21);
    border-radius: var(--border-radius);
}

h2 {
    font-size: 1.4rem;
}

.nav__list {
    display: flex;
    gap: 1.1rem;
    margin-top: var(--primary-spacing);
}

.nav__list__item__link {
    color: var(--tertiary-color);
    text-decoration: none;
    padding-bottom: 0.3rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav__list__item__link:hover {
    color: var(--tertiary-color);
    border-bottom: 2px solid var(--tertiary-color);
    transform: 300ms ease-in-out;
}

.nav.open {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 4.6rem;
    right: 0;
    gap: 0;
}



.main {
    min-width: 320px;
    max-width: 1200px;
    display: block;
    margin: auto;
}

.content {
    padding: 1rem;
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about {
    align-self: center;
    flex-basis: 45%;

}

.about__text {
    padding: 1rem;
    font-size: 1.2rem;
}

.img__accueil {
    height: 20rem;
    width: 50%;
    background-image: url('../image/cofee.webp');
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem
}

.about {
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #a17a52;
    font-weight: 800;
}

.button {
    background-image: linear-gradient(to bottom, var(--secondary-color), #a17a52);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    color: var(--tertiary-color);
    text-decoration: none;
    font-family: var(--secondary-font-family);
    font-size: 1.7rem;
    margin: var(--primary-spacing);
    text-align: center;
    font-weight: 200;
    border: 1px solid #6b6b6b;
}

.button:hover {
    background-image: linear-gradient(to bottom, #c0874e, var(--secondary-color));
}

.news {
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: calc(var(--primary-spacing) * 2);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid #c99663; */
    background-color: #eedbc8;
    box-shadow: -5px 5px 10px #00000050;
    height: 300px;
    width: 250px;
    border-radius: var(--border-radius);
    padding: calc(var(--primary-spacing) * 2) var(--primary-spacing);
}

.card__title {
    color: var(--primary-color);
    font-size: 1.1rem;
    text-align: center;
}

.card__img {
    object-fit: cover;
    height: 9rem;
    border-radius: var(--border-radius);
    padding: 1rem;
}

.card__text {
    height: 25%;
    padding: 0 1rem;
}

.card__price {
    text-align: center;
    font-weight: 800;
    margin-top: 0.5rem;
}

.card__button {
    font-size: 1.5rem;
}

.footer {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 0;
    height: 3rem;
    width: 100%;
}

.footer p {
    margin-bottom: 0;
    line-height: 3rem;
}

/*Page detail*/



.detail__card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin: auto;
    margin-top: -3rem;
    padding: 2rem 2rem;
    border-radius: var(--border-radius);
    flex-basis: 100%;
    font-size: 1.3rem;
    display: flex;
    background-color: #eedbc8;
    box-shadow: -5px 5px 10px #00000050;
}

.detail__date {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 0.8rem;
    font-style: italic;
    color: #0000007e;
    margin: 1rem 0;
}

.detail__img {
    border-radius: var(--border-radius);
    width: 100%;
    height: 400px;
    object-fit: cover;
    align-self: flex-start;
}



.detail__text {
    margin-top: 1rem;
}

.detail__price {
    font-size: 1.8rem;
    font-weight: 1000;
    margin: 2rem 0;
    align-self: flex-end;
    color: var(--primary-color);
    padding: var(--primary-spacing);
    border-radius: var(--border-radius);
}

.detail__dispo {
    position: absolute;
    top: 0;
    left: 1rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 1000;
    border: 1px solid;
    margin: 1rem 0;
    padding: var(--primary-spacing) calc(var(--primary-spacing)*2);
    border-radius: var(--border-radius);
}


.detail__dispo--true {
    color: rgb(66, 145, 66);
    border-color: rgb(66, 145, 66);
}


.detail__dispo--false {
    color: rgb(202, 87, 87);
    border-color: rgb(202, 87, 87);
}

.detail__button {
    font-size: 2rem;
    align-self: center;
    width: 200px;
}

.detail__title {
    margin: 1.3rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-color);
}

.detail__origine {
    margin: 0.7rem 0
}

/* Catalogue */

.catalogue__img {
    background-image: url('../image/catalogue.webp');
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
}

.catalogue__filter-button {
    display: flex;
    flex-direction: row;

}

.catalogue__title {
    color: var(--tertiary-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1px 1px 10px #000;
    line-height: 250px;
}

.catalogue__select {
    margin: auto;
}

.catalogue__link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart__table tr th td {
    vertical-align: middle;
    text-align: center;
}

.img-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
}


option {
    font-size: 1rem;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Page Boutique */
.about,
.ambiance,
.savoir-faire {
    margin-bottom: 40px;
}

.about__title,
.ambiance__title,
.savoir-faire__title {
    color: #333;
    margin-bottom: 10px;
}

.about__image,
.ambiance__image {
    background-color: #ddd;
    height: 200px;
    margin-bottom: 20px;
}

.about__text,
.ambiance__text,
.savoir-faire__text {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}


.about__image {
    background-image: url('../image/vendors.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    height: 500px;
    background-position: center;
}

.ambiance__image {
    background-image: url('../image/boutique.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    height: 400px;
    background-position: center;
}

/* Page 404 */

.image404 {
    margin: auto;
    width: 90vw;
    height: 77vh;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 20px black;
    text-align: center;
    background-image: url('../image/404.webp');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.image404>h2 {
    font-size: 3rem;
    background-color: #0000007c;
}

.image404>h3 {
    font-size: 2rem;
    background-color: #0000007c;
}

.image404>p {
    font-size: 1.6rem;
    background-color: #0000007c;
}

/* Login Page */

.login-container {
    margin: auto;
    padding: calc(var(--primary-spacing)*3);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 1rem;
}

.login-container label {
    display: block;
    margin-bottom: var(--primary-spacing);
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
    width: 90%;
    padding: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #c0874e;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #c0874e;
}

.error-message {
    color: rgb(211, 77, 77);
    padding: 0.3rem;
    border: 1px solid rgb(211, 77, 77);
    border-radius: var(--border-radius);
    margin: 0 auto 1rem auto;
}

.deconnect {
    color: rgb(211, 77, 77);
    font-weight: 800;
    margin: 0 auto 1rem auto;
}

.header__cart {
    position: relative;
    margin-right: 30px;
}

.cartBubble {
    position: absolute;
    font-size: 0.8rem;
    top: 10px;
    right: -10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: 1000;
    padding: 0.1rem 0.2rem;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;


}



.header__cart a {
    font-size: 2.5rem;
    color: var(--primary-color);
    line-height: 4rem;
}

table {
    width: 90vw;
}

td {
    border: 1px solid black;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
}

/* CART */

.cart {
    width: 300px;
    margin: auto;
}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart__item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}

.cart__item-image {
    flex: 0 0 100px;
}

.cart__item-image img {
    max-width: 100%;
    border-radius: 5px;
}

.cart__item-details {
    flex: 1;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.item-price {
    color: #333;
}

.item-remove {
    color: #ff0000;
    text-decoration: none;
    align-self: flex-start;
}

.popup-message {
    position: fixed;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: #f4a236ec;
    /* Red */
    color: white;
    padding: 15px;

    z-index: 1000;
    border-radius: 5px;
    text-shadow: 1 1 10px rgba(0, 0, 0, 0.1);
    ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-message .close-popup {
    cursor: pointer;
    margin-left: 10px;
}

.detail__dispoR {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.detail__dispoR--true {
    background-color: green;
}

.detail__dispoR--false {
    background-color: red;
}


@media only screen and (max-width: 700px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
        width: 4rem;
        height: 4rem;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {

    .main {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .about {
        flex-basis: 100%;
    }


    .button {
        align-self: center;
    }

    .img__accueil {
        order: -1;
        width: 100%;
        height: 200px;
    }

    .nav {
        padding: 0 1rem;
        border: 1px solid #0000007a;
        box-shadow: -1px 1px 5px #63636380;
    }

    .nav__list {
        margin: 0;
        display: block;
    }

    .detail__dispo {
        font-size: 0.7rem;
    }

    .detail__date {
        font-size: 0.7rem;
    }

    .detail__img {
        height: 200px;
    }

    .detail__dispo--true {
        color: rgb(66, 145, 66);
    }

    .detail__dispo--false {
        color: rgb(202, 87, 87);
    }

    .nav__list__item {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #00000071;
    }

    .nav__list__item:last-child {
        border-bottom: 0;
    }

    .catalogue__title {
        font-size: 1.8rem;
    }

}