<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/reset.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>O'Coffee</title>
  </head>
  <body>
    <header class="header">
      <div class="logo__text">
        <img class="logo" src="/image/logo.svg" alt="logo de O'Coffee" />
        <h1 class="header__title"><a href="/">O'Coffee</a></h1>
      </div>
      <div class="header__cart">
        <% if (session.cart.length !== 0) { %>
          <span class="cartBubble"><%= session.cart.length %></span>
        <% } %>
        <% if (session.user) { %>
          
            <a class="cart" href="/cart"><i class="fa fa-shopping-cart" aria-label="Mon panier"></i></a>
          
        <% } %>
      </div>
      <button class="burger" aria-label="Ouvrir le menu de navigation">≡</button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/">Accueil</a>
          </li>
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/catalogue">Catalogue</a>
          </li>
          <li class="nav__list__item">
            <a class="nav__list__item__link" href="/about">A propos</a>
          </li>
          <li class="nav__list__item">

              <% if (session.user) { %>
                <a class="nav__list__item__link" href="/account"><i class="fa fa-user" aria-label="Se connecter"></i> <%= session.user.firstname %>
              <% } else { %> 
                <a class="nav__list__item__link" href="/login"><i class="fa fa-user" aria-label="Se connecter"></i>
              <% } %>
            </a>
          </li>
        </ul>
      </nav>
    </header>
