<%- include('./partials/header') %>
<main class="main">
    <div class="content">
        <h2>Ambiance de la boutique</h2>

        <div class="boutique__img"></div>

        <p>Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.</p>

        <p>L'atmosphère est empreinte d'une lueur chaleureuse, avec des lumières tamisées qui créent des jeux d'ombres et de lumières apaisants. Les murs sont ornés d'éléments rustiques, de panneaux en bois et de photographies captivantes de plantations de café, évoquant l'origine de ces délices aromatiques.</p>
        
        <p>Les étagères en bois exposent fièrement une variété de grains de café provenant des quatre coins du monde, chacun racontant une histoire unique de terroir et de culture. Les sacs de café empilés dévoilent une palette de couleurs allant des tons chocolat aux nuances ambrées, invitant à l'exploration sensorielle.</p>
        
        <p>Le cliquetis des tasses et des cuillères résonne joyeusement dans l'air et le son réconfortant des machines à expresso en action crée une symphonie orchestrée avec soin, soulignant l'expertise et l'art qui se cachent derrière chaque tasse de café servie.</p>
        
        <p>Les coins douillets sont parsemés de fauteuils confortables et de canapés moelleux, invitant nos clients à s'installer et à se perdre dans un bon livre, ou simplement à profiter d'une conversation entre amis. L'odeur enivrante du café fraîchement infusé flotte dans l'air, créant une ambiance propice à la détente et à la contemplation.</p>
        
        <p>Le personnel attentionné et passionné est toujours prêt à partager ses connaissances et ses recommandations, créant un lien chaleureux entre les amateurs de café et les artisans qui le préparent avec soin. Chaque visite est une expérience personnelle, où le client est accueilli comme un ami de longue date.</p>
        
        <p>Dans notre détaillant de café, l'ambiance chaleureuse vous invite à ralentir le rythme trépidant de la vie quotidienne et à savourer l'instant présent. Que vous soyez un connaisseur de café ou un novice curieux, nous sommes là pour vous guider dans un voyage sensoriel inoubliable, où chaque gorgée révèle un monde de saveurs riches et complexes.</p>
    </div>
  </main>
  <%- include('./partials/footer') %>