<%- include('./partials/header') %>
<main class="main">
    <div class="content">
        <div class="login-container">
            <p>On s'arrete là, je vend pas vraiment de café desolé :P</p>
        </div>
    </div>
</main>
<%- include('./partials/footer') %>